<head>
<style>
    
    
    #table{
    width: 80%;
    margin: 100px 0px 0px 150px;
    }
    
    
    
    
    
    
    </style>
    </head>

    <body>

<button type="button" class="btn btn-primary" style="margin:10px;width:100px;"><a routerLink="/Home"     class="link">Home</a></button>

<button type="button" class="btn btn-primary" style="margin:10px;width:100px;"><a routerLink="/Math"     class="link">Math</a></button>

<button type="button" class="btn btn-primary" style="margin:10px;width:100px;"><a routerLink="/Arabic"   class="link">Arabic</a></button>

<button type="button" class="btn btn-primary" style="margin:10px;width:100px;"><a routerLink="/Francais" class="link">Francais</a></button>

<button type="button" class="btn btn-primary" style="margin:10px;width:100px;"><a routerLink="/Physique" class="link">Physique</a></button>

<button type="button" class="btn btn-primary" style="margin:10px;width:100px;"><a routerLink="/Chimie"   class="link">Chimie</a></button>

<button type="button" class="btn btn-primary" style="margin:10px;width:100px;"><a routerLink="/Biologie" class="link">Biologie</a></button>

<button type="button" class="btn btn-primary" style="margin:10px;width:100px;"><a routerLink="/Religion" class="link">Religion</a></button>



    
    
    
    
    
    
    
   
     
    <!--<table class="table table-striped table-dark" id="table">
      <thead >
        <tr>
          <th scope="col">Name Teacher </th>
          <th scope="col"> Link</th>
          
        </tr>
      </thead>
      <tbody >
        <tr>
          <th scope="row">Fida Kalaoun </th>
          <td><a href="http://meet.google.com/igs-sbvk-oci"target="_blank"> Arabic </a></td>
          
        </tr>
        <tr>
          <th scope="row">Tarek Darwich</th>
          <td><a href="https://meet.google.com/byv-qbqw-boy"target="_blank"> Maths </a> </td>
          
        </tr>
        <tr>
          <th scope="row"> Alia Badawaki</th>
          <td><a href="https://meet.google.com/kfj-tcmz-ebe"target="_blank"> Francais </a></td>
          
        </tr>
        
        <tr>
          <th scope="row"> Mohamad Kilo</th>
          <td><a href="https://meet.google.com/bsw-vttc-vrp"target="_blank"> Chimie </a></td>
          
        </tr>
        
        <tr>
          <th scope="row"> Karim Finge</th>
          <td><a href="https://meet.google.com/xjc-noth-kvq"target="_blank"> Physique </a></td>
          
        </tr>
        
        <tr>
          <th scope="row"> Manal Wazzeh</th>
          <td><a href="https://meet.google.com/bsw-vttc-vrp"target="_blank"> Chimie </a></td>
          
        </tr>
        
        <tr>
          <th scope="row"> Mohamad Kilo</th>
          <td><a href="https://meet.google.com/qpv-ymxn-mrq"target="_blank"> Biologie </a> </td>
          
        </tr>
        
        <tr>
          <th scope="row"> Abdulhadi Saydawi</th>
          <td><a href="https://meet.google.com/zcx-bsbf-jko"target="_blank"> Religion  </a>  </td>
          
        </tr>
      </tbody>
    </table>
    -->
    
    </body>
    