
  <div id="navbar" style="height:50px; background-color: rgb(0, 81, 255); color: white;">
    
    <ul style="height:50px">
        <li><span style="margin:6px 0px 0px 15px;"class="navbar-brand mb-0 h1">{{title}}</span></li>
        <li style="position: absolute; right:0px;"> <a href="https://www.aicpschools.net/main/"><i class="fas fa-globe"></i></a></li>
        <li style="position: absolute; right:50px;"><a href="https://www.facebook.com/aicp.schools/"><i class="fab fa-facebook-f"></i></a></li>
       </ul>
    
   
    
</div>